 <div class="navbar-fixed-top">
    <nav>
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo"><i class="fa fa-hand-peace-o"></i></a><a href="#mywork" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">My Work</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.google.com/design/spec/material-design/introduction.html">My Design Aesthetic</a></li>
          <li><a href="#mywork">My Work</a></li>
          <li><a href="assets/webdevresume.pdf">My Resume</a></li>
        </ul>
      </div>
    </nav>
  </div>