<div class="row-fluid" id="topcontent">
  <div class="col s6 m6">
    <div class="card teal darken-1">
      <div class="col s6">
        <div class="card-content black-text">
          <center>
            <span class="card-title" id="header-title">
               <span>Full Stack Developer</span>
              <img src="images/WDI_pic2.png" width="10%" height="10%">
            </span> 
            <span class="card-title" id="header-name">
              <strong>Aileen Santos</strong>
            </span>
            
          </center>

          <div class="container">   
            <div class="card-panel grey lighten-5 z-depth-2" id="card1">
              <div class="row">
                <div class="col s5">
                  <img src="images/navbarlogo.png" class="img-responsive" width="80%" height="80%"> 
                </div>
                <div class="col s5">
                  <span id="header-blurb">
                    <h3>programmer / activist / teacher</h3><br>I am an educator turned web developer who loves sleek, modern and vibrant design focused on a clean user experience.<br><br>

                    My past career has cultivated my strong soft-skills for understanding people. I am passionate about building stylish web applications for my users. My goal as a web developer is to create applications that positvely impacts my users' lives.<br><br>

                    When I am not coding, I spend time organizing with the queer and immigrant Filipina community to achieve equitable rights for our underserved populations.  
                  </span>
                </div>
              </div>
                <div class="card-action">
                  <h6>all links open in a new window</h6>
                  <a href="https://github.com/asantos3026" target="_blank">
                    <i class="fa fa-github-square fa-3x"></i>)
                  </a>
                  <a href="https://www.linkedin.com/in/aileenclairesantos" target="_blank">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                  </a>
                  <a href="mailto:asantos3026@gmail.com?subject=Hi, Aileen" target="_blank">
                    <i class="fa fa-envelope fa-3x"></i>
                  </a>
                </div>
              </div>
            </div>    
          </div>
        </div> 
      </div>
    </div> 
  </div>